<template>
  <content-module name="top">

      <el-table
              :data="jury"
              style="width: 100%">
          <el-table-column type="expand">
              <template slot-scope="props">
                  <el-button v-for="work in props.row.works"
                             :key="work.pid"
                             :type="work.isLike?'success':'danger'"
                             @click="openWork(work)">{{work.pid}}</el-button>
              </template>
          </el-table-column>
          <el-table-column
                  prop="_id"
                  label="Username">
          </el-table-column>
          <el-table-column
                  prop="likes"
                  label="Likes"
                  width="180">
          </el-table-column>
          <el-table-column
                  prop="dislikes"
                  label="Dislikes"
                  width="180">
          </el-table-column>
          <el-table-column
                  prop="total"
                  label="Total"
                  width="180">
          </el-table-column>
      </el-table>



  </content-module>
</template>
<script>
import DataTable from 'components/DataTable'
import { stages as stageRes, system as systemRes} from 'resources'
import locales from 'locales/voting'
import moment from 'moment'
export default {
  locales,
  data () {
    return {
      jury:[]
    }
  },
  computed: {

  },
  components: {
    DataTable
  },
  methods: {

    fetchCurrentThings(){
      stageRes.currentLikes()
        .then((things) => {
            console.log('Current currentLikes', things.body)
            this.jury = _.chain(things.body.results)
              .sortBy([function(o) { return -o.total; }])
              .each((item) => {
                item.works = _.reverse(_.sortBy(item.works, 'isLike'));
              })
              .value()

        })
    },
    openWork(data) {
      console.log(data);
      const win = window.open('http://vote.dom-competition.ru/work/'+data._id, '_blank');
      win.focus();
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.fetchCurrentThings()

    })
  }
}
</script>

<style lang="stylus">
    @import "../assets/css/variable"
    .el-transfer
        display flex
    .el-transfer-panel
        flex 1

</style>