<template>
    <div>


            <el-badge :value="badgeCount">
                <el-button @click="openDialog"  icon="el-icon-search">Search</el-button>
            </el-badge>

        <el-dialog
                title="Filters"
                :visible.sync="dialogVisible"
                width="50%"
                :before-close="handleClose">
<!---->
            <el-form ref="filterform" label-width="29%" label-position="left">

                <tri-radio
                        :label="$t('thing.model.envType.label')"
                        ref="tri1"
                        @change="onFilterChange()"
                        v-model="filter.envType"
                        :items="[
                          {id:'l', label:$t('thing.model.envType.l')},
                          {id:'m', label:$t('thing.model.envType.m')},
                          {id:'h', label:$t('thing.model.envType.h')}
                          ]"
                ></tri-radio>

                <tri-radio
                        :label="$t('thing.model.commonEvaluation.label')"
                        ref="triCommonEvaluation"
                        v-model="filter.commonEvaluation"
                        :items="[
                          {id:'l', label:$t('thing.model.commonEvaluation.l')},
                          {id:'m', label:$t('thing.model.commonEvaluation.m')},
                          {id:'h', label:$t('thing.model.commonEvaluation.h')}
                          ]"
                ></tri-radio>

                <tri-radio
                        :label="$t('thing.model.avgCost.label')"
                        ref="triAvgCost"
                        v-model="filter.avgCost"
                        :items="[
                          {id:'l', label:$t('thing.model.avgCost.l')},
                          {id:'m', label:$t('thing.model.avgCost.m')},
                          {id:'h', label:$t('thing.model.avgCost.h')}
                          ]"
                ></tri-radio>


                <sorting
                        v-model="sorting"
                        :items="[
                  {id:'a', label:'Cost'},
                  {id:'b', label:'Rost'},
                  {id:'c', label:'Gost'}
                ]"></sorting>


                <!--<el-form-item :label="$t('thing.model.commonEvaluation.label')">-->
                    <!--<el-select v-model="form.commonEvaluation" multiple placeholder="Select" style="width: 100%;">-->
                        <!--<el-option-->
                                <!--v-for="item in commonEvaluations"-->
                                <!--:key="item.value"-->
                                <!--:label="item.label"-->
                                <!--:value="item.value">-->
                        <!--</el-option>-->
                    <!--</el-select>-->
                <!--</el-form-item>-->
                <!--<el-form-item :label="$t('thing.model.commonEvaluation.label')">-->
                    <!--<div>-->
                        <!--<el-checkbox v-model="form.commonEvaluation.l" :label="$t('thing.model.commonEvaluation.l')" border></el-checkbox>-->
                        <!--<el-checkbox v-model="form.commonEvaluation.m" :label="$t('thing.model.commonEvaluation.m')" border></el-checkbox>-->
                        <!--<el-checkbox v-model="form.commonEvaluation.h" :label="$t('thing.model.commonEvaluation.h')" border></el-checkbox>-->
                    <!--</div>-->
                <!--</el-form-item>-->

                <!--<el-form-item :label="$t('thing.model.avgCost.label')">-->
                    <!--<div>-->
                        <!--<el-checkbox v-model="form.avgCost.l" :label="$t('thing.model.avgCost.l')" border></el-checkbox>-->
                        <!--<el-checkbox v-model="form.avgCost.m" :label="$t('thing.model.avgCost.m')" border></el-checkbox>-->
                        <!--<el-checkbox v-model="form.avgCost.h" :label="$t('thing.model.avgCost.h')" border></el-checkbox>-->
                    <!--</div>-->
                <!--</el-form-item>-->
                <!---->
            </el-form>
<!---->

            <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button type="primary" @click="closeDialog">Confirm</el-button>
          </span>
        </el-dialog>
    </div>
</template>

<script>
  import { thing as thingRes} from '../resources'
  import locales from '../locales/things'
  import store from '../store'
  import * as _ from 'lodash'
  import TriRadio from '../components/TriRadio.vue'
  import Sorting from '../components/Sorting.vue'

  export default {
    locales,
    data() {
      return {
        filter: {
          envType:{
            l:true,
            m:true,
            h:true
          },
          commonEvaluation:{
            l:true,
            m:true,
            h:true
          },
          avgCost:{
            l:true,
            m:true,
            h:true
          }
        },
        sorting: {
          id:'a',
          dir:'asc'
        },
        dialogVisible:false,
        commonEvaluations:[
          {value:'l', label:this.$t('thing.model.commonEvaluation.l')},
          {value:'m', label:this.$t('thing.model.commonEvaluation.m')},
          {value:'h', label:this.$t('thing.model.commonEvaluation.h')}
        ],
        triRefs:[],
        badgeCount:0
      }
    },
    components: {
      TriRadio,
      Sorting
    },
    watch:{
      filter:{
        handler:function(){
          console.log('...')
          this.badgeCount =  _.reduce([this.$refs.tri1, this.$refs.triCommonEvaluation,this.$refs.triAvgCost], (total, ref)=>{
            if(!ref){
              return total
            }
            console.log(' .. ',total, ref)
            total += ref.allSelected?0:1;
            return total
          }, 0)
        },
        deep: true
      }
    },
    computed:{
    },
    methods: {
      openDialog(){
        this.dialogVisible = true;
      },
      closeDialog(){
//        this.$refs.triEnvType.isError
//        this.$refs.triCommonEvaluation.isError
//        this.$refs.triAvgCost.isError
        console.log('form', this.$refs.triEnvType.isError)

      },
      handleClose(){

        return false;
      },
      onFilterChange(){


      }
    }
  }
</script>
<style lang="scss">
    @import "../assets/css/hacks";
    @import "../assets/css/mixins";
    .shy{
        @include hacks();
        @include prefixed(transition-duration, 200ms);
        @include prefixed(transition-property, transform);

        &:hover,
        &:focus,
        &:active {
            @include prefixed(transform, scale(.9));
        }
    }


</style>

<style lang="stylus" scoped>
    @import "../assets/css/variable"


    .clickable
        cursor: pointer
    .action-button
        width: 20px
        height 20px
        /*position absolute*/
        left 10px
        bottom 10px
        background-color $color-black-exact-light
        border-radius 20px
        color white
        line-height 20px
        text-align center
        font-size 12px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
</style>