<template>
  <transition name="header">

    <div>
      <!--<el-dialog-->
              <!--id="helpdialog"-->
              <!--style="overflow: hidden;"-->
              <!--:visible.sync="helpDialogVisible"-->
      <!--&gt;-->
        <!--<el-carousel id="car"-->
                <!--arrow="always"-->
                <!--ref="helpcarousel"-->
                <!--height="640px"-->
                <!--style="width: calc(100vw - 10vh);"-->
                <!--indicator-position="inside"-->
                <!--trigger="click"-->
                <!--:autoplay="false">-->
          <!--<el-carousel-item v-for="(item, i) in manualPics"-->
                            <!--:key="item">-->
            <!--<v-touch style="width:100%; height:100%"  v-on:swipeleft="onSwipeLeft" v-on:swiperight="onSwipeRight">-->
              <!--<div class="image" :style="{backgroundImage: 'url(\'/static/help/' + item+'\')'}"></div>-->
            <!--</v-touch>-->
          <!--</el-carousel-item>-->
        <!--</el-carousel>-->
      <!--</el-dialog>-->

      <header id="header" v-if="loggedIn" class="noselect">

        <div style="display: flex;    width: 100%; align-items: center;     padding: 0px 20px;">
          <div v-if="!showback" class="clickable" style="align-self: center;padding-left: 10px;padding-right: 10px; font-size: 20px;" @click="backtohome">
            <!--{{$t('siteName')}}-->
            <div class="logos"></div>
          </div>
          <div v-else  @click="backtohome"  class="clickable" style="    display: flex; align-items: center;     padding-left: 6px;">
            <!--<i class="el-icon-back" style="font-size: 30px"></i>-->
            <i class="el-icon-arrow-left prevnexticon" style="vertical-align: middle;font-size: 20px;"></i>
            <span style="font-size: 20px; padding-left: 6px">{{$t('back')}}</span>
          </div>


          <div style="flex: 1;  align-self: center; font-size: 20px; text-align: right; padding-right: 20px">
            <!--<slot></slot>-->
              <div style="float: right">
                <div style="flex: 1;">
                  <div style="font-size:20px;     align-self: center;" v-if="systemData">

                    <div style="font-size:20px; vertical-align: middle; padding: 0 16px;"
                         type="warning">

                        <span v-if="systemData.currentStage.dueDate && !hideCountdown" v-hold="handleHold">
                         <span style="padding: 0 10px;opacity:0.5" v-if="performance">|</span>
                         <span style="opacity:0.5">{{ countdown }}</span>
                       </span>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div v-if="performance" style="float: right" v-hold="handleResetHelp">{{$t('projectsToVote')}}: <span>{{performance.thingsCount - performance.likesCount}}</span></div>-->

          </div>
          <!--<div style=" display: flex">-->
            <!--<i @click="showHelp()" style="font-size: 24px; padding-right: 10px;" class="el-icon-question"></i>-->
          <!--</div>-->
          <!--<div class="nav" v-if="loggedIn" style="align-self: center;padding-left: 10px;padding-right: 10px;">-->
            <!--<el-dropdown trigger="click">-->
          <!--<span class="el-dropdown-link">-->
            <!--<span class="iconfont icon-user" style="margin-right:2px;vertical-align:middle;"></span>-->
            <!--{{username}}&nbsp;<i class="el-icon-caret-bottom el-icon-right"></i>-->
          <!--</span>-->
              <!--<el-dropdown-menu slot="dropdown">-->
                <!--<el-dropdown-item @click.native="showConfig">{{$t('header.settings')}}</el-dropdown-item>-->
                <!--<el-dropdown-item @click.native="password.visible=true">{{$t('header.password')}}</el-dropdown-item>-->
                <!--<el-dropdown-item @click.native="doLogout">{{$t('header.logout')}}</el-dropdown-item>-->
              <!--</el-dropdown-menu>-->
            <!--</el-dropdown>-->
          <!--</div>-->
        </div>


        <!-- user settings -->
        <!--<el-dialog :title="$t('header.settings')" v-model="config.visible"-->
                   <!--top="4%" @close="cancelConfig">-->
          <!--<el-form class="noline" ref="config" label-position="top"-->
                   <!--:model="config.form" :rules="config.rules">-->
            <!--<el-form-item :label="$t('header.langSetting')" prop="lang">-->
              <!--<el-select v-model="config.form.lang">-->
                <!--<el-option v-for="lang in globalConfig.langs" :key="lang.value"-->
                           <!--:label="lang.label" :value="lang.value"></el-option>-->
              <!--</el-select>-->
            <!--</el-form-item>-->
            <!--<el-form-item :label="$t('header.pageLimit')" prop="pageLimit">-->
              <!--<el-slider v-model="config.form.pageLimit" :min="1" :max="100" show-input></el-slider>-->
            <!--</el-form-item>-->
          <!--</el-form>-->
          <!--<span slot="footer" class="dialog-footer">-->
          <!--<el-button @click.native="config.visible=false">{{$t('confirm.cancel')}}</el-button>-->
          <!--<el-button type="primary" @click.native="saveConfig">{{$t('confirm.ok')}}</el-button>-->
        <!--</span>-->
        <!--</el-dialog>-->
        <!--&lt;!&ndash; change password &ndash;&gt;-->
        <!--<el-dialog :title="$t('header.password')" v-model="password.visible"  @close="cancelPassword">-->
          <!--<el-form label-position="top" :model="password.form"-->
                   <!--:rules="password.rules" ref="password">-->
            <!--<el-row :gutter="20">-->
              <!--<el-col :span="12">-->
                <!--<el-form-item :label="$t('header._password.old')" prop="oldPassword">-->
                  <!--<el-input type="password" v-model="password.form.oldPassword"/>-->
                <!--</el-form-item>-->
                <!--<el-form-item :label="$t('header._password._new')" prop="password">-->
                  <!--<el-input type="password" v-model="password.form.password"/>-->
                <!--</el-form-item>-->
                <!--<el-form-item :label="$t('header._password.newConfirm')" prop="confirmPassword">-->
                  <!--<el-input type="password" v-model="password.form.confirmPassword"/>-->
                <!--</el-form-item>-->
              <!--</el-col>-->
              <!--<el-col :span="12">-->
                <!--<el-form-item :label="$t('constant.desc')">-->
                  <!--<div>{{$t('header._password.description')}}</div>-->
                <!--</el-form-item>-->
              <!--</el-col>-->
            <!--</el-row>-->
          <!--</el-form>-->
          <!--<span slot="footer" class="dialog-footer">-->
            <!--<el-button @click.native="password.visible=false">{{$t('confirm.cancel')}}</el-button>-->
            <!--<el-button type="primary" @click.native="changePassword">{{$t('confirm.ok')}}</el-button>-->
        <!--</span>-->
        <!--</el-dialog>-->
      </header>
    </div>
  </transition>
</template>
<script>
import { helpFlag } from '../stored'
import { save, read, clear } from '../storage'
import { STORE_HELP_FLAG } from '../constants'
import { mapGetters, mapActions } from 'vuex'
import { merge } from 'lodash'
import { user as userResource, system as systemRes } from 'resources'
import locales from 'locales/header'
import moment from 'moment'
export default {
  locales,
  props: {
    performance: {
      type: Object
    },
    showback: {
      type: Boolean
    }
  },
  data () {
    return {
      countdown:'',
      hideCountdown: false,
      countdownInterval:null,
      showTheAlert: true,
      systemData: null,
      helpDialogVisible: false,
      config: {
        visible: false,
        form: {
          lang: '',
          pageLimit: 10
        },
        rules: {
          lang: [{ required: true }],
          pageLimit: [{ type: 'number', required: true }]
        }
      },
      password: {
        visible: false,
        form: {
          oldPassword: '',
          password: '',
          confirmPassword: ''
        },
        rules: {
          oldPassword: [{
            required: true, message: this.$t('header._password.rules.old'), trigger: 'blur'
          }],
          password: [{
            required: true, message: this.$t('header._password.rules._new'), trigger: 'blur'
          }],
          confirmPassword: [{
            required: true, message: this.$t('header._password.rules.newConfirm'), trigger: 'blur'
          }, {
            trigger: 'blur', message: this.$t('header._password.rules.notMatch'), validator: (rule, value, callback) => {
              if (value !== this.password.form.password) {
                callback(new Error(rule.message))
              } else {
                callback()
              }
            }
          }]
        }
      }
    }
  },
  computed: {
    manualPics: function(){
      if (this.$lang ==='ru-RU') {
        return ['Manual_RU.png', 'Manual_RU2.png', 'Manual_RU3.png', 'Manual_RU4.png', 'Manual_RU5.png', 'Manual_RU6.png'];
      } else {
        return ['180125_Manual_EN_1.png', '180125_Manual_EN_2.png', '180125_Manual_EN_3.png', '180125_Manual_EN_4.png', '180125_Manual_EN_5.png', '180125_Manual_EN_6.png'];
      }

        },
    ...mapGetters([
      'username',
      'loggedIn',
      'userId',
      'globalConfig'
    ])
  },
  methods: {
    ...mapActions(['logout', 'updateGlobalConfig']),
    doLogout () {
      this.logout().then(() => {
        this.$router.push('/login')
      })
    },
    backtohome () {
      this.$router.push({ path: "/" })
    },
    showConfig () {
      this.config.visible = true
    },
    cancelConfig () {
      this.config.form.lang = this.globalConfig.lang
      this.config.form.pageLimit = this.globalConfig.pageLimit
      this.config.visible = false
    },
    saveConfig () {
      this.updateGlobalConfig(this.config.form)
      this.config.visible = false
      this.$message.success(this.$t('message.save.ok'))
    },
    cancelPassword () {
      this.$refs.password.resetFields()
      merge(this.password.form, {
        oldPassword: '',
        password: '',
        confirmPassword: ''
      })
      this.password.visible = false
    },
    changePassword () {
      this.$refs.password.validate(valid => {
        if (valid) {
          userResource.changePassword({ id: this.userId }, this.password.form).then(res => {
            this.$notify.success(this.$t('header._password.afterChange'))
            this.password.visible = false
            setTimeout(() => {
              this.doLogout()
            }, 2000)
          }).catch(() => {})
        }
      })
    },
    getSystemInfo(){
      systemRes.query(null)
        .then((resp) => {
          return resp.body.results
        })
        .then((sys) => {
          this.systemData = sys;
          this.runCountDown()
        })
        .catch(err => {
          console.error(err)
        })
    },
    runCountDown(){

      if(this.systemData.currentStage.dueDate){
        clearInterval(this.countdownInterval)
        if(new Date(this.systemData.currentStage.dueDate).getTime() < new Date().getTime()){
          this.hideCountdown = true
        }
        this.countdown = this.parseCountDown(this.systemData.currentStage.dueDate)
        this.countdownInterval = setInterval(()=>{
          if(new Date(this.systemData.currentStage.dueDate).getTime() < new Date().getTime()){
            console.log('time up!')
            this.hideCountdown = true
            clearInterval(this.countdownInterval)
            setTimeout(() => {
              this.getSystemInfo()
            }, 1000)
            this.parseCountDown(new Date().toDateString())
          }
          this.countdown = this.parseCountDown(this.systemData.currentStage.dueDate)
        }, 30000)
      }


    },
    parseCountDown(date){
      let leftTime = Date.parse(date) - new Date().getTime();//Now i am passing the left time from controller itself which handles timezone stuff (UTC), just to simply question i used harcoded values.
      let duration = moment.duration(leftTime);
      let days = this.tofixed(duration.days());
      let hours = this.tofixed(duration.hours());
      let minutes = this.tofixed(duration.minutes());
      let secs = this.tofixed(duration.seconds());
      return days + this.$t('countdown.d') + ' : '
        + hours+ this.$t('countdown.h') + ' : '
        + minutes+ this.$t('countdown.m')
//        + ':'
//        + secs + this.$t('countdown.s');
    },

    tofixed(num){
      if(String(num).length===1){
        return '0'+num;
      }
      return num
    },
    showHelp(){
//      this.helpDialogVisible = true;
    },

    clearAutoHelp() {
      console.log('clear')
      clear(STORE_HELP_FLAG)
    },
    handleHold() {
        this.doLogout();
    },
    handleResetHelp(){
      this.clearAutoHelp()
      alert('Help reset');
    },
    onSwipeLeft(){
      if(this.$refs.helpcarousel.activeIndex >= this.$refs.helpcarousel.items.length-1){
        return
      }
      this.$refs.helpcarousel.next()
    },
    onSwipeRight(){
      if(this.$refs.helpcarousel.activeIndex === 0){
        return
      }
      this.$refs.helpcarousel.prev()
    },
  },
  mounted () {
    this.$socket.on('system:stageChanged', data => {
      console.log('SYS')
      this.$message.info(`stageChanged: ${data}`)
    })
    this.$nextTick(() => {
      this.getSystemInfo()
    })
  },
  created () {
    this.cancelConfig();
    if(!read(STORE_HELP_FLAG)){
      this.showHelp();
      save(STORE_HELP_FLAG, true)
    }
//    setTimeout(()=>{
//      this.$notify({
//        type: 'warning',
//        title: 'Осталось 10 минут',
//        message: 'Внимание! До завершения текущего этапа осталось менее 10 минут',
//        duration: 0
//      });
//    },1000)
  }
}
</script>
<style lang="stylus">
  @import "../assets/css/variable"
  body
    color: $aijk

</style>
<!--width: calc(100vw - 10vw);-->
<!--height: calc(100vh - 10vh);-->
<style lang="stylus">
@import "../assets/css/variable"
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
  .logos {
    background-size contain
    background-repeat no-repeat
    background-position center center
    margin: auto;
    height 40px;
    width: 280px;
    background-image url("../assets/images/logos.jpg")
  }

#helpdialog
  .el-dialog
    width: calc(100vw - 10vh);
    margin-top: calc(50vh - 340px) !important
  .el-dialog__header
    height: 24px;
    position: absolute;
    width: calc(100% - 30px);
    z-index: 99;
  .el-carousel__button
    background-color: $aijk
  .el-dialog__body
    padding 0px;
.image
  background-size contain
  background-repeat no-repeat
  background-position center center
  width: 85%;
  margin: auto;
  height 100%
.clickable
  cursor pointer
.header-enter-active
.header-leave-active
  transition all .5s
.header-enter
.header-leave-active
  margin-top -($header-height)
#header
  display flex
  text-align center;
  flex-direction row
  align-items center
  justify-content space-between
  padding 0 0px !important;
  height: 60px
  background-color $color-white
  color $color-black-exact-light

  h1
    float left
    height $header-height
    line-height @height
    margin 0
    font-weight normal
    > a
      color #fff
  .nav
    float right
    margin 0
    padding 0
</style>
