<template>
    <el-form-item label="Sorting">

            <el-button-group style="display: flex">
                <el-button
                        class="item"
                        v-for="item in items"
                        :key="item.id"
                        @click="selectSorting(item)"
                        :type="selected.id===item.id?'primary':''">
                    {{item.label}}
                    <i :class="getClassByItem(item)"></i>
                </el-button>
            </el-button-group>
    </el-form-item>
</template>
<script>
  import * as _ from 'lodash'
  export default {
    components: {},
    model: {
      prop: 'selected',
      event: 'change'
    },
    props: {
      items: {
        type: Array,
        required: true
      },
      selected:{
        type: Object
      }
    },
    data() {
      return {

      }
    },
    computed:{

    },
    methods:{
      selectSorting(item){
        console.log('> ',item, this.selected);
        if(this.selected.id===item.id){
          this.selected.dir = this.selected.dir==='asc'?'desc':'asc'
        }else{
          this.selected.id = item.id;
          this.selected.dir = 'asc';
        }
      },
      getClassByItem(item){
        return this.selected.id==item.id?this.selected.dir=='asc'?'el-icon-caret-top':'el-icon-caret-bottom':'';
      }
    }
  }

</script>
<style lang="stylus" scoped>
    @import "../assets/css/variable"
    .item
        flex 1
</style>