<template>
    <div>

        <div v-if="data.id === 'common'" ref="tab_common">

            <el-carousel
            arrow="always"
            ref="carousel"
            height="calc(100vh - 250px)"
            indicator-position="outside"
            trigger="click"
            class="preview-img-list"
            :autoplay="false">
                <el-carousel-item v-for="(item, i) in data.data.images"

                                      :label="($lang === 'ru-RU') ? item.capture : item.captureEng"
                                      :key="item._id">
                    <div class="cinfo">{{$t('taptozoom')}}</div>
                    <div class="params" v-if="item.params && item.params.length > 0">
                        <div class="par" v-for="par in item.params">
                            <div class="label">
                                {{($lang === 'ru-RU') ? par.ru : par.en}}
                            </div>
                            <div class="divider"></div>
                            <div class="value">
                                {{par.value}}
                            </div>
                        </div>
                    </div>
                    <v-touch style="width:100%; height:100%" v-on:swipeleft="onSwipeLeft" v-on:swiperight="onSwipeRight"  >
                    <div class="image preview-img-item" :style="{backgroundImage: 'url(/images/' + item.url+')'}" @click="openGallery(i)"></div>
                    </v-touch>
                </el-carousel-item>
            </el-carousel>

            <!--<div style="display: flex; padding-top: 20px; padding-bottom: 20px">-->
                <!--<trismile class="tri smile" :label="$t('thing.model.commonEvaluationBlock')"  type="smile" :value="data.data.commonEvaluationBlock"></trismile>-->
                <!--<trismile class="tri smile" :label="$t('thing.model.commonEvaluationBuilding')"  type="smile" :value="data.data.commonEvaluationBuilding"></trismile>-->
                <!--<trismile class="tri smile" :label="$t('thing.model.commonEvaluationFlat')" type="smile" :value="data.data.commonEvaluationFlat"></trismile>-->
                <!--<trismile class="tri" :label="$t('thing.model.avgCost.label')"  type="rub" :value="data.data.avgCost"></trismile>-->
            <!--</div>-->
        </div>

        <!-- VIDEO -->
        <div v-else-if="data.id==='video'" id="tab_video" >

            <youtube
                    ref="youtube"
                    style="height:calc(100vh - 200px)"
                    height="calc(100vh - 150px)"
                    player-width="100%"
                    player-height="100%"
                    :video-id="data.data.videoId"></youtube>
            <!---->
        </div>

        <!-- PANEL -->
        <div v-else-if="data.id==='panel'" id="tab_pannel">

            <el-carousel
                    arrow="always"
                    ref="carousel2"
                    height="calc(100vh - 250px)"
                    indicator-position="outside"
                    class="preview-img-list"
                    trigger="click"
                    :autoplay="false">

                <el-carousel-item v-for="(item, i) in data.data"
                                  :label="($lang === 'ru-RU') ? item.capture : item.captureEng"
                                  :key="item._id">
                    <div class="cinfo">{{$t('taptozoom')}}</div>
                    <v-touch style="width:100%; height:100%" v-on:swipeleft="onSwipeLeft" v-on:swiperight="onSwipeRight"  >
                        <div class="image preview-img-item" :style="{backgroundImage: 'url(/images/' + item.url+')'}" @click="openGallery(i)"></div>
                    </v-touch>
                </el-carousel-item>
            </el-carousel>
        </div>

        <div v-else-if="data.id==='album'">
            <el-carousel
                    arrow="always"
                    ref="carousel3"
                    height="calc(100vh - 250px)"
                    class="preview-img-list"
                    indicator-position="outside"
                    trigger="click"
                    :autoplay="false">
                <el-carousel-item v-for="(item, i) in data.data"
                                  :label="($lang === 'ru-RU') ? item.capture : item.captureEng"
                                  :key="item._id">
                    <div class="cinfo">{{$t('taptozoom')}}</div>
                    <v-touch style="width:100%; height:100%" v-on:swipeleft="onSwipeLeft" v-on:swiperight="onSwipeRight"  >
                        <div class="image preview-img-item" :style="{backgroundImage: 'url(/images/' + item.url+')'}" @click="openGallery(i)"></div>
                    </v-touch>
                </el-carousel-item>
            </el-carousel>
        </div>


        <div v-else-if="data.id==='data'" >
            <el-collapse v-model="activeName" accordion id="detailtable">
                <el-collapse-item :title="sub.label" :name="sub.id"  :key="sub.id" v-for="sub in data.data">
                    <template slot="title">
                        <span :class="{'unsub':sub.unsubmitted, 'accord-header': true}">{{sub.label}}</span>
                    </template>

                    <el-table
                            v-if="!sub.unsubmitted"
                            :data="sub.data"
                            :ref="'table_'+sub.id"
                            :show-header="false"
                            style="width: 100%">
                        <el-table-column
                                prop="preinfo"
                                label=""
                                class="noborder"
                                width="40"></el-table-column>
                        <el-table-column
                                prop="info"
                                label=""
                                class="noborder"
                                width="40">
                            <template slot-scope="scope">
                                <div v-if="!te('thing.tooltip.'+scope.row.variantId+'.'+scope.row.prelabel)">
                                    <div v-tooltip.right="$t('thing.tooltip.'+scope.row.variantId+'.'+scope.row.prelabel)" >
                                        <div class="info clickable"></div>
                                    </div>
                                </div>


                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="label"
                                label=""

                        >
                            <template slot-scope="scope">
                                <span class="accord-label">{{$t(scope.row.label)}}<span v-if="!te('thing.items.' + scope.row.variantId+ '.' + scope.row.prelabel)">, {{$t('thing.items.'+scope.row.variantId+"."+scope.row.prelabel)}}</span>
                                </span>
                            </template>
                        </el-table-column>

                        <el-table-column
                                prop="value"
                                label=""
                                width="180"
                                >
                            <template slot-scope="scope">
                                <!--v-checker="{e:data.envType, v:scope.row.value, n:scope.row.label, c:checkers[scope.row.label]}" -->
                                <div v-if="scope.row.prelabel !== 'elevatorsQty' && (scope.row.value===undefined || scope.row.value===null || scope.row.value===0 || (scope.row.value.length>0 && scope.row.value[0] === 0))" style="word-break: break-word; text-align: center;">
                                    {{$t('noData')}}
                                </div>
                                <div v-else>
                                    <div v-if="scope.row.prelabel === 'commonEvaluation' " class="item"
                                         v-checker="{e:envType, v:scope.row.value, n:scope.row.checkerLabel, c:checkers[scope.row.checkerLabel]}">
                                        <div> {{$t('thing.model.commonEvaluation.'+scope.row.value)}} </div>
                                    </div>
                                    <div v-else-if="Array.isArray(scope.row.value) === true" >
                                        <div class="item" v-if="scope.row.value[0] === scope.row.value[1]"
                                             v-checker="{e:envType, v:scope.row.value, n:scope.row.checkerLabel, c:checkers[scope.row.checkerLabel]}">
                                            {{ scope.row.value[0] }}
                                        </div>
                                        <div class="item" v-else
                                             v-checker="{e:envType, v:scope.row.value, n:scope.row.checkerLabel, c:checkers[scope.row.checkerLabel]}">

                                            {{ scope.row.value[0] }} - {{ scope.row.value[1] }}
                                        </div>
                                    </div>
                                    <div v-else-if="typeof scope.row.value === 'boolean'" class="item"
                                         v-checker="{e:envType, v:scope.row.value, n:scope.row.checkerLabel, c:checkers[scope.row.checkerLabel]}">
                                        <div>{{scope.row.value?$t('confirm.yes'):$t('confirm.no')}}</div>
                                    </div>

                                    <div v-else class="item"
                                         v-checker="{e:envType, v:scope.row.value, n:scope.row.checkerLabel, c:checkers[scope.row.checkerLabel]}">
                                        {{ scope.row.value }}
                                    </div>
                                </div>

                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="eval"
                                label=""
                                width="140"
                        >

                            <template slot-scope="scope">
                                <div v-if="Array.isArray(scope.row.value) === true" >
                                    <trismile v-if="scope.row.value[0] && scope.row.value[0]>0  && checkers[scope.row.checkerLabel]" class="tri" label=""  type="smile" :value="scope.row.eval"></trismile>
                                </div>
                                <div v-else>
                                    <trismile v-if="(scope.row.value!==null && scope.row.value!==undefined && scope.row.value!==0) && checkers[scope.row.checkerLabel]" class="tri" label=""  type="smile" :value="scope.row.eval"></trismile>
                                </div>

                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="postinfo"
                                label=""
                                class="noborder"
                                width="40"></el-table-column>
                    </el-table>
                </el-collapse-item>
            </el-collapse>
        </div>

    </div>
</template>
<script>
  import * as _ from 'lodash'
  import locales from '../locales/things'
  import trismile from './TriSmile.vue'

  import { checkers as checkersRes } from 'resources'
  export default {
    locales,
    props: {
      data: {
        type: Object
      },
      variants: {
        type: Array
      },
      variantId: {
        type: String
      },
      subId: {
        type: String
      },
      envType: {
        type: String
      },
      checkers: {
        type: Object
      }
    },
    data() {
      return {
        activeName: null,
//        checkers: {},
        itemOrder: {
          common: [
            'commonEvaluationFlat',
            'commonEvaluationBuilding',
            'commonEvaluationBlock',
            'avgCost'
          ],
          sub1: [
            [
              'commonEvaluation',
              'area',
              'length',
              'height'
            ],
            [
              'developedPercent',
              'dens',
              'commers',
              'parking',
              'population',
              'edu'
            ]
          ]
        }
      }
    },
    watch:{
      checkers: function(){
        this.$forceUpdate()
      }
    },
    components:{
      trismile
    },
    computed:{
      imageUrls(){
        if(this.data.data.images){
          return _.map(this.data.data.images, (item) => {
            return '/images/' + item.url+''
          })
        }
        return []
      },
      panelUrls(){
        if(this.data.data){
          return _.map(this.data.data, (item) => {
            return '/images/' + item.url+''
          })
        }
        return []
      }
    },
    methods:{
      te(label){
        return _.startsWith(this.$t(label), 'thing.')
      },
      openGallery(i){
        if(this.data.id === 'common'){
          this.$emit('opengallery', this.imageUrls, i)
        }else if(this.data.id === 'panel' || this.data.id === 'album'){
          this.$emit('opengallery', this.panelUrls, i)
        }
      },

      onSwipeLeft(){
        if(this.$refs.carousel.activeIndex >= this.$refs.carousel.items.length-1){
          return
        }
        this.$refs.carousel.next()
      },
      onSwipeRight(){
        if(this.$refs.carousel.activeIndex === 0){
          return
        }
        this.$refs.carousel.prev()
      },
//      fetchCheckers(){
//        checkersRes.query().then(data => data.json()).then(data => {
//          if (data && data.results){
//            this.checkers = _.transform(data.results, (total, item) => {
//              total[item._id] = item;
//              return true;
//            }, {})
//            this.$forceUpdate()
//          }
//
//        })
//      },
      showInfo(row, table){
        row.showInfo = !row.showInfo
        this.$refs[table].doLayout()
      }
    },
    updated () {
      if(this.data.id === 'common'){
        this.$nextTick(() => {
          this.$refs.carousel.prev()
          this.$nextTick(() => {
            this.$refs.carousel.setActiveItem(0);
          })
//          this.$forceUpdate()
        })

      }
    },
    created () {

//      this.fetchCheckers()
    }
  }

</script>
<style lang="stylus">
    @import "../assets/css/variable"

    #detailtable
        .el-collapse-item__header
            height: initial;
            line-height: inherit;
        .el-collapse-item__arrow
            line-height: 60px;
            float: left;
    .el-carousel__indicators--labels .el-carousel__button
        font-size 18px
    .el-carousel__indicators
        max-height: 64px;
        overflow-y: scroll;
    .el-carousel__indicators--outside button
        opacity 0.7
        color $aijk
        background-color transparent
    .el-carousel__indicators--outside .is-active button
        background-color $aijk
        color white
    .el-carousel__arrow
        background-color: transparent;
        color: $aijk
        font-size: 40px;
        &:hover
            background-color: transparent;

</style>
<style lang="stylus" scoped>
    @import "../assets/css/variable"
    /*.el-collapse-item*/
        /*&*/

    /*#tab_pannel*/
    /*.el-carousel*/
    /*.el-carousel__container*/
    //height calc(100vh - 275px) !important
    .params
        position absolute;
        bottom 0px;
        width 100%;
        background-color rgba(255, 255, 255, 0.8);
        display flex;
        flex-wrap: wrap;
        .par
            display flex;
            /*flex: 0.5*/
            width: 45%;

            justify-content: space-between;
            padding: 20px;
            font-size: 18px;
            .label

                white-space nowrap;
            .divider
                border-bottom: 1px $aijk dotted;
                width: 90%;
            .value
                font-weight bold;
                white-space nowrap;

    .cinfo
        pointer-events none
        background-color: rgba(255,255,255,0.8);
        width: calc(100% - 20px);
        text-align: center;
        position: absolute;
        padding: 10px;
    .image
        background-size contain
        background-repeat no-repeat
        background-position center center
        width 100%
        height 100%
    .noborder
        border-color white
    .accord-label
        color $aijk
        min-height: 60px;
        display: inline-table;
        vertical-align: middle;
        line-height: 60px;
        word-break: break-word;
    .accord-header
        font-size: 18px !important;
        color $aijk
        min-height: 60px;
        display: inline-table;
        vertical-align: middle;
        line-height: 60px;
        &.unsub
            opacity 0.3
        /*font-weight bold;*/

    .el-carousel__indicators--labels .el-carousel__button
        font-size: 14px;

    .tri
        flex: 1
        margin auto



    .clickable
        cursor pointer
    .info
        width: 18px
        height: 18px
        text-align center
        line-height 20px
        border-radius 40px
        background-color $aijk
        color white
        background-image url('../assets/images/info-01.svg')
        background-size contain
    .item
        text-align center
        font-size 18px
        padding-top 6px
        padding-bottom 6px

        .tri
            width 40px;
            float center
            height 40px
        &.checker-bad

            color $tz-bad
        &.checker-warn
            color $tz-warn
        &.checker-good
            color $tz-good

</style>