<template>
    <div class="uploader">
        <div class="upload" >
            <ul class="img-list">
                <draggable :list="model" @end="onDragEnd" :options="{draggable:'.img-item'}">
                <li v-for="(file, index) in model" :key="file._id" class="img-item">

                    <div v-if="file.url"
                         v-bind:style="{ backgroundImage: 'url(/images/'+file.url+')'}"
                         class="img">
                        <el-button
                                icon="el-icon-close"
                                round
                                size="small"
                                class="remove-button"
                                @click.prevent="removeUploaded(file)"></el-button>
                        <!--<el-button-->
                                <!--:icon="currentCover === file.url ? 'el-icon-star-on' : 'el-icon-star-off'"-->
                                <!--:type="currentCover === file.url ? 'success' : null "-->
                                <!--size="mini"-->
                                <!--class="highlight-button"-->
                                <!--v-if="!noCover"-->
                                <!--@click.prevent="setCover(file.url)"></el-button>-->


                            <div class="capture">
                                <el-input placeholder="Rus" v-model="file.capture" v-if="!isCover"></el-input>
                                <el-input  placeholder="Eng" v-model="file.captureEng" v-if="!isCover"></el-input>
                                <el-button @click="openParams(file)"> Params ({{file.params ? file.params.length : 0}})</el-button>
                            </div>

                    </div>
                    <span v-else>No Image</span>
                </li>
                <li v-for="(file, index) in files" :key="file._id" class="img-item" v-if="!file.success">
                    <div >
                    <div v-if="file.thumb"
                         v-bind:style="{ backgroundImage: 'url('+file.thumb+')'}"
                         class="img">
                        <el-button
                                   icon="el-icon-close"
                                   round
                                   size="small"
                                   class="remove-button"
                                   @click.prevent="$refs.dropbox.remove(file)"></el-button>

                        <!--<el-button-->
                                <!--:icon="currentCover === file.response.filename ? 'el-icon-star-on' : 'el-icon-star-off'"-->
                                <!--:type="currentCover === file.response.filename ? 'success' : null "-->
                                <!--size="mini"-->
                                <!--class="highlight-button"-->
                                <!--v-if="!noCover"-->
                                <!--@click.prevent="setCover(file.response.filename)"></el-button>-->
                        <div class="capture">
                            <el-input placeholder="Rus" v-model="file.capture" v-if="!isCover"></el-input>
                            <el-input placeholder="Eng" v-model="file.captureEng" v-if="!isCover"></el-input>
                        </div>
                    </div>
                    <span v-else>No Image</span>

                    <transition name="el-fade-in">
                        <div class="upload-spinner" v-show="file.active || !file.success">
                            <el-progress type="circle" :percentage="+file.progress" :status="file.success?'success':file.error?'exception':''"></el-progress>
                        </div>
                    </transition>
                    </div>
                </li>
                </draggable>
                <!--<label class="img-item dropbox" :for="id" v-if="files.length">-->
                    <!--<div class="label">Drop files-->
                        <!--<br/>-->
                        <!--or-->
                        <!--<br/>-->
                        <!--click here-->
                    <!--</div>-->
                <!--</label>-->
            </ul>

            <label class="dropbox" style="padding:30px" :for="id"
                   v-if="!isCover || (isCover && (model.length<=0 && files.length<=0))">
                <div class="label">Drop files<br/>or<br/>click here</div>
            </label>
            
            <file-upload
                    v-if="!isCover || (isCover && this.model.length<=0)"
                    class="btn btn-primary dropdown-toggle"
                    :input-id="id"
                    :post-action="postAction"
                    :extensions="extensions"
                    :accept="accept"
                    :multiple="multiple"
                    :directory="directory"
                    :size="size || 0"
                    :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                    :headers="headers"
                    :data="data"
                    :drop="true"
                    :drop-directory="dropDirectory"
                    :add-index="addIndex"
                    v-model="files"
                    @input-filter="inputFilter"
                    @input-file="inputFile"
                    ref="dropbox">
            </file-upload>
        </div>

        <el-dialog title="Edit Params"
                   v-if="paramsVisible"
                   :visible.sync="paramsVisible">
            <el-form label-width="29%" label-position="left">
                <el-card class="box-card" v-for="(param, $index) in params" :key="$index">
                    <el-form-item label="ru"  prop="ru" >
                        <el-input v-model="param.ru" ></el-input>
                    </el-form-item>
                    <el-form-item label="en"  prop="en" >
                        <el-input v-model="param.en" ></el-input>
                    </el-form-item>
                    <el-form-item label="value"  prop="value" >
                        <el-input v-model="param.value" ></el-input>
                    </el-form-item>
                    <el-button @click="delParam(param)">-</el-button>
                </el-card>
                <el-button @click="addParam()">+</el-button>
            </el-form>
            <el-button type="success" @click="saveParams()">Done</el-button>
        </el-dialog>
    </div>
</template>
<style lang="stylus">
    @import "../assets/css/variable"
    .capture{
        bottom: -74px;
        display: block;
        position: absolute;
    }
    .upload-spinner{
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-color rgba(255,255,255,0.95)
        padding 6px
    }
    .dropbox{
        outline 2px dashed $color-silver /* the dash box */
        outline-offset -10px
        background $color-white-dark
        color $color-silver
        display block
        padding 2px 2px
        position relative
        cursor pointer
        text-align center
    }

    .dropbox:hover {
        background $color-gray /* when mouse over to the drop zone, change color */
    }
    .dropbox .label {
        font-size 1.2em
        text-align center
    }
    .img-list{
        margin 0
        padding 2px
        display flex
        flex-wrap wrap
    }
    .img-list .img-item{
        width 140px
        height 140px
        padding-bottom: 60px
        display inline-block
        margin-right 4px
        margin-bottom 4px
        background $color-white-dark
        position relative
    }
    .img-list .img-item .remove-button{
        position absolute
        top -6px
        right -6px
        padding: 6px 6px;
        z-index 11
        /*right: 40px;*/
        /*z-index: 100;*/
        /*color: red;*/
        /*top: 10px;*/
    }

    .img-list .img-item .img{
        width 100%
        height 100%
        position relative
        background-color $color-gray
        background-size contain
        background-position center center
        background-repeat no-repeat
    }
    .img-list .img-item.dropbox{
        display flex
        align-items center
        justify-content center
        outline-offset -4px
        box-sizing border-box
    }

    .uploader{
        display: inline-block;
        width: 100%;
    }
    .uploader .edit-image img {
        max-width: 100%;
    }
    .uploader .edit-image-tool {
        margin-top: .6rem;
    }
    .uploader .edit-image-tool .btn-group{
        margin-right: .6rem;
    }
    .uploader .footer-status {
        padding-top: .4rem;
    }
    .highlight-button{
        position absolute
        width 100%
        bottom -30px
        left -0.65rem
    }

</style>

<script>
  import Cropper from 'cropperjs'
  import { images as imagesRes } from 'resources'
  import ImageCompressor from '@xkeshi/image-compressor'
  import FileUpload from 'vue-upload-component'
  import draggable from 'vuedraggable'
  import ElDialog from "../../../node_modules/element-ui/packages/dialog/src/component.vue";
  import store from '../store'
  import * as _ from 'lodash'
  export default {
    components: {
      ElDialog,
      FileUpload,
      draggable
    },
//    model: {
//      prop: 'model',
//      event: 'change'
//    },
    props: ['model', 'id', 'compress', 'isCover', 'isPanel'],
    data() {
      return {
        paramsVisible: false,
        params: [],
        orderCount: 0,
        tempFiles: [],
        files: [],
        uploadedFiles:[],
        accept: 'image/png,image/gif,image/jpeg,image/webp',
        extensions: 'gif,jpg,jpeg,png,webp',
        // extensions: ['gif', 'jpg', 'jpeg','png', 'webp'],
        // extensions: /\.(gif|jpe?g|png|webp)$/i,
        minSize: 1024,
        size: 1024 * 1024 * 10,
        multiple: true,
        directory: false,
        drop: true,
        dropDirectory: true,
        addIndex: false,
        thread: 3,
        name: 'file',
        postAction: '/api/images',
        headers: {
          'Authorization':`Bearer ${store.getters.accessToken}`
        },
        data: {
        },
        autoCompress: 1024 * 1024,
        uploadAuto: true,
        isOption: false,
        editFile: {
          show: false,
          name: '',
        }
      }
    },
    created: function () {
//      if(this.model && this.model.length>0) {
//        this.uploadedFiles = _.cloneDeep(this.model);
//      }
    },
//    computed:{
//      _model: {
//        get: function(){
//          console.log('!get', this.model)
//          return _.cloneDeep(this.model)
//        },
//        set: function(newValue){
//          console.log('!set', newValue)
//          this.$emit('change', _.cloneDeep(newValue));
////          this._model = newValue;
//          Vue.set(this.form.roles, 0, role);
//        }
//      }
//    },
    watch: {

    },
    methods: {
      openParams(file){
        this.params = file.params ? _.cloneDeep(file.params) : [];
        this.paramsFile = file;
        this.paramsVisible = true;
      },
      delParam(par){
        _.pull(this.params, par);
        this.$nextTick(() => {
          this.$forceUpdate();
        })
      },
      addParam(){
        if(!this.params){
          this.params = [];
        }
        this.params.push({
          ru:'',
          en:'',
          value:null,
        })
      },
      saveParams(){
        this.paramsFile.params = _.cloneDeep(this.params);
        this.paramsVisible = false;
      },
      onDragEnd(a,b){
        _.sortBy(this.each, (item, index) => {
          item.order = index;
        });
        console.log('ON END',a,b);
      },
      setCover(file){
        this.$emit('setcover', file)
      },
      inputFilter(newFile, oldFile, prevent) {
        newFile.order = this.orderCount; // this.model.length;
        console.log(' X ', this.orderCount);
        this.orderCount++;
        if (newFile && !oldFile) {
          // Before adding a file
          // Filter system files or hide files
          if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
            return prevent()
          }
          // Filter php html js file
          if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
            return prevent()
          }
          // Automatic compression
          if (this.compress && newFile.file && newFile.type.substr(0, 6) === 'image/' && this.autoCompress > 0 && this.autoCompress < newFile.size) {
            newFile.error = 'compressing'
            let imageCompressor = new ImageCompressor();
            let compOptions;
            if(this.isCover){
              console.log('Compress!')
              compOptions = {
                quality: .9,
                mimeType: 'image/jpeg',
                convertSize: Infinity,
                maxWidth: 600,
                maxHeight: 600,
              }
            } else if (this.isPanel) {
              console.log('IS PANEL')
              compOptions = {
                convertSize: Infinity,
                quality: .9,
                mimeType: 'image/jpeg',
                maxWidth: 2048*2,
                maxHeight: 2048*2,
              }
            } else {
              compOptions = {
                convertSize: Infinity,
                quality: .9,
                mimeType: 'image/jpeg',
                maxWidth: 2048,
                maxHeight: 2048,
              }
            }


              imageCompressor.compress(newFile.file, compOptions)
                .then((file) => {
                  console.log('file.size', file.size)
                  this.$refs.dropbox.update(newFile, { error: '', file, size: file.size, type: file.type })
                })
                .catch((err) => {
                  this.$refs.dropbox.update(newFile, { error: err.message || 'compress' })
                })
            }
//            else{
//              this.$refs.dropbox.update(newFile, { error: '', file:newFile, size: newFile.size, type: newFile.type })
//            }

        }
        if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
          // Create a blob field
          newFile.blob = ''
          let URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            newFile.blob = URL.createObjectURL(newFile.file)
          }
          // Thumbnails
          newFile.thumb = ''
          if (newFile.blob && newFile.type.substr(0, 6) === 'image/') {
            newFile.thumb = newFile.blob
          }
        }
      },
      // add, update, remove File Event
      inputFile(newFile, oldFile) {
        if (newFile && oldFile) {
          // update
          if (newFile.active && !oldFile.active) {
            // beforeSend
            // min size
            if (newFile.size >= 0 && this.minSize > 0 && newFile.size < this.minSize) {
              this.$refs.dropbox.update(newFile, { error: 'size' })
            }
          }
          if (newFile.progress !== oldFile.progress) {
            // progress
          }
          if (newFile.error && !oldFile.error) {
            // error
          }
          if (newFile.success && !oldFile.success) {
            // success
//            if(!this.currentCover && !this.noCover){
//              this.setCover(newFile.response.filename)
//            }
//            console.log('**', newFile)

                console.log(' X ', newFile.order);
              this.model.push({url:newFile.response.filename, capture:newFile.capture, captureEng:newFile.captureEng, _id:newFile.id})
            this.model = _.sortBy(this.model, (item) => {
              return item.order;
            })
//              this.model = _.sortBy()
//            this.model.push({url:newFile.response.filename, capture:newFile.capture, _id:newFile.id})
//            this.uploadedFiles.push({url:newFile.response.filename, capture:newFile.capture})
          }
        }
        if (!newFile && oldFile) {
          // remove
          if (oldFile.success && oldFile.response.filename) {
            var index = _.indexOf(this.model, {url:oldFile.response.filename})
            this.model.splice(index, 1)
          }
        }
        // Automatically activate upload
        if (Boolean(newFile) !== Boolean(oldFile) || oldFile.error !== newFile.error) {
          if (this.uploadAuto && !this.$refs.dropbox.active) {
            this.$refs.dropbox.active = true
          }
        }
      },
      removeUploaded(file){
        console.log(file._id, this.model.length, this.model)
        var index = -1
        _.find(this.model, (item, _index) => {
          if(item._id === file._id){
            index = _index
          }
          return item._id === file._id
        })
        this.model.splice(index, 1)

//        var index = _.indexOf(this.uploadedFiles, {id:file.id})
//        this.uploadedFiles.splice(index, 1)
      },
      deleteUploadedAfterSubmit(){
        //TODO
//        var deleted =_.difference(model, uploaded)
//        imagesRes.delete({_id:file.url})
      }
    }
  }
</script>